<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @cart.cart_items.each do |item| %>
                <%= render 'cart_item', item: item %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>